/* General
-------------------------------------------------- */
.tmp-content {
  height: 100vh;
  width: 500px;
  background: #eee;
  margin: 50px 0;
}

.title-pc {
  font-family: "Lucida Grande",Verdana,Arial,sans-serif;
}

.dynamic-presentation, .dynamic-activities, .dynamic-references, .dynamic-contact {
  visibility: hidden;
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible;
}

/* Header
-------------------------------------------------- */
header > .wrapper {
  min-height: 60px;
}
header .oge-logo img {
  height: 50px;
}
header .navbar.navbar-dark .oge-logo img.black {
  display: none;
}
header .navbar.bg-inverse {
  background-color: #272727;
}
header .navbar.navbar-light .oge-logo img.white {
  display: none;
}
header .navbar .navbar-nav {
  line-height: 36px;
}
header .navbar .navbar-toggler {
  line-height: 32px;
}
header .navbar .navbar-brand {
  margin-left: 15px;
  font-size: 1.7em;
}
header .heading {
  background: #272727 no-repeat scroll center center / cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 0) and (max-width: 640px) {
  header .heading {
    background-image: url('../img/topography-small.jpg');
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  header .heading {
    background-image: url('../img/topography-medium.jpg');
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  header .heading {
    background-image: url('../img/topography-large.jpg');
  }
}
@media all and (min-width: 1920px) {
  header .heading {
    background-image: url('../img/topography.jpg');
  }
}
header .heading .content {
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  padding: 20px 0;
  width: 100%;
}


/* Footer
-------------------------------------------------- */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #272727;
}