/* Fonts
-------------------------------------------------- */
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/raleway_thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('../font/Raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Raleway/raleway_thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../font/Raleway/raleway_thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../font/Raleway/raleway_thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* General
-------------------------------------------------- */
.tmp-content {
  height: 100vh;
  width: 500px;
  background: #eee;
  margin: 50px 0;
}

.title-pc {
  font-family: 'Raleway', 'Lucida Grande',Verdana,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.dynamic-left, .dynamic-right, .dynamic-bottom {
  visibility: hidden;
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible;
}

.red {
  color: #E2001A;
}

.img-thumbnail {
  box-shadow:0 1px 4px rgba(0,0,0,.3);
  border-radius: 0;
}

/* Header
-------------------------------------------------- */
header {
  margin-bottom: 20px;
}
header > .wrapper {
  min-height: 60px;
}
header .oge-logo img {
  height: 50px;
}
header .navbar {
  border-bottom: 1px solid #E2001A;
}
header .navbar.navbar-dark .oge-logo img.black {
  display: none;
}
header .navbar.navbar-dark {
  border-bottom-color: transparent;
}
header .navbar.bg-inverse {
  background-color: #272727;
}
header .navbar.navbar-light .oge-logo img.white {
  display: none;
}
header .navbar .navbar-nav {
  line-height: 35px;
}
header .navbar .navbar-toggler {
  line-height: 32px;
}
header .navbar .navbar-brand {
  margin-left: 15px;
  font-size: 1.7em;
}
header .heading {
  background: #272727 no-repeat scroll center center / cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E2001A;
}
@media all and (min-width: 0) and (max-width: 640px) {
  header .heading {
    background-image: url('../img/topography-small.jpg');
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  header .heading {
    background-image: url('../img/topography-medium.jpg');
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  header .heading {
    background-image: url('../img/topography-large.jpg');
  }
}
@media all and (min-width: 1920px) {
  header .heading {
    background-image: url('../img/topography.jpg');
  }
}
header .heading .content {
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  padding: 20px 0;
  width: 100%;
}
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .open > .nav-link:focus,
.navbar-light .navbar-nav .open > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
  border-bottom-color: #E2001A;
}
.navbar-nav .nav-link {
  border-bottom: 1px solid;
}
/* Footer
-------------------------------------------------- */
footer {
  background-color: #272727;
  padding: 20px 15px 5px 15px;
  color: #fff;
}
footer .title-pc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.7em;
}
footer .nav a {
  color: rgba(255, 255, 255, .75);
}
footer .nav a:hover,
footer .nav a:focus {
  color: #fff;
}
footer .separator-left {
  border-left: 1px solid #fff;
  padding-left: 30px;
  min-height: 142px;
}
@media all and (max-width: 544px) {
  footer .separator-left {
    border-left: none;
    margin-top: 20px;
  }
  footer .lead {
    margin-bottom: 5px;
  }
}
footer .legals {
  color: rgba(255, 255, 255, .75);
  margin-top: 20px;
}
footer .legals a {
  color: rgba(255, 255, 255, .75);
}
footer .legals a:hover,
footer .legals a:focus {
  color: #fff;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 220px;
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 220px;
}

/* Content
-------------------------------------------------- */

/* Upgrade Browser Message */
html .browserupgrade {
  display: none;
}
html.lt-ie9 .browserupgrade {
  display: block;
}

/* Presentation Section */
#presentation .slides .thumbnail {
  width: auto;
  height: auto;
  background: #fff;
  padding: .25rem;
  line-height: 1.5;
  border: 1px solid #ddd;
}
#presentation .slides .thumbnail > div {
  width: 100%;
  height: 350px;
  background: no-repeat center center / cover;
}
#presentation .flexslider {
  margin-bottom: 0;
}
#presentation .flexslider-navigation {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#presentation .flexslider-navigation > * {
  display: table-cell;
}
#presentation .flexslider-navigation > a {
  width: 50px;
  padding: 0 10px;
  font-size: 1.3em;
  color: #272727;
}
#presentation .flexslider-navigation > a:hover,
#presentation .flexslider-navigation > a:focus {
  color: #E2001A;
}
#presentation .flex-control-paging li a {
  background: transparent;
  border: 1px solid rgba(39, 39, 39, .5);
}
#presentation .flex-control-paging li a.flex-active {
  background: #E2001A;
}
#presentation .flexslider-navigation .flex-control-nav {
  position: relative;
  bottom: auto;
}
#presentation .flexslider-navigation .flex-control-nav li {
  line-height: 8px;
}
